.practice-practice {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption {
  max-width: 385px;
  line-height: 24px;
}
@media(max-width: 767px) {
  .practice-practice {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption {
    font-size: 14px;
    line-height: 21px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.home-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.home-close:hover {
  opacity: 0.5;
}
.home-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption {
  max-width: 385px;
  line-height: 24px;
}
.home-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image {
  width: 12px;
  object-fit: cover;
}
.home-section01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header02 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.home-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image01 {
  width: 12px;
  object-fit: cover;
}
.home-section02 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header03 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.home-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image02 {
  width: 12px;
  object-fit: cover;
}
.home-section03 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header04 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.home-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image03 {
  width: 12px;
  object-fit: cover;
}
.home-section04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header05 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.home-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image04 {
  width: 12px;
  object-fit: cover;
}
.home-section05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header06 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.home-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image05 {
  width: 12px;
  object-fit: cover;
}
.home-hero {
  width: 100%;
  height: 534px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-logo {
  width: 165px;
  object-fit: cover;
}
.home-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image06 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-book {
  text-decoration: none;
}
.home-image07 {
  width: 18px;
  object-fit: cover;
}
.home-text10 {
  font-family: Inter;
}
.home-main {
  width: 100%;
  height: 450px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 628px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.home-heading07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header07 {
  width: 100%;
  font-size: 30px;
  max-width: 750px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 45px;
}
.home-caption6 {
  width: 580px;
  height: 305px;
  font-size: 18px;
  max-width: 600px;
  text-align: justify;
  line-height: 27px;
}
.home-image08 {
  width: 50%;
  height: 396px;
  object-fit: cover;
}
.home-practices1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 4px;
  padding-left: 28px;
  padding-right: 12px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.home-heading08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 491px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}
.home-text12 {
  width: 443px;
  height: 265px;
  font-size: 18px;
  max-width: 385px;
  text-align: justify;
  line-height: 27px;
}
.home-content01 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-grid1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 626px;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-practice-wrapper {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper1 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper2 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper3 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper4 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper5 {
  cursor: pointer;
  text-decoration: none;
}
.home-all {
  text-decoration: none;
}
.home-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 798px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #D0F4FD;
}
.home-heading09 {
  gap: var(--dl-space-space-unit);
  width: 1024px;
  height: 212px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header08 {
  width: 770px;
  font-size: 40px;
  max-width: 600px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-right: var(--dl-space-space-halfunit);
}
.home-header09 {
  width: 774px;
  font-size: 16px;
  max-width: 700px;
  text-align: justify;
  line-height: 27px;
}
.home-content02 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 488px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-video {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
.home-video1 {
  width: 964px;
  height: 298px;
}
.home-caption7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header10 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
}
.home-header11 {
  width: 776px;
  max-width: 600px;
  text-align: justify;
  line-height: 24px;
}
.home-features {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 12px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 20px;
}
.home-section06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content03 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading10 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image09 {
  width: 606px;
  height: 282px;
  object-fit: cover;
}
.home-section07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.home-content04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading11 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton1 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image10 {
  width: 520px;
  object-fit: cover;
}
.home-section08 {
  width: 916px;
  height: 294px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading12 {
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton2 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image11 {
  width: 514px;
  height: 271px;
  object-fit: cover;
}
.home-section09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image12 {
  width: 626px;
  height: 266px;
  object-fit: cover;
}
.home-content06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading13 {
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton3 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-section10 {
  width: 100%;
  height: 243px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading14 {
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton4 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image13 {
  width: 50%;
  height: 174px;
  object-fit: cover;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image14 {
  width: 557px;
  height: 239px;
  object-fit: cover;
}
.home-section11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading15 {
  font-size: 45px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton5 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-section12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading16 {
  font-size: 45px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton6 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image15 {
  width: 560px;
  height: 252px;
  object-fit: cover;
}
.home-book1 {
  display: none;
}
.home-news {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 761px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-heading17 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 956px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text15 {
  width: 666px;
  font-size: 45px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-text16 {
  font-size: 18px;
  max-width: 700px;
  text-align: justify;
  line-height: 27px;
}
.home-text18 {
  font-size: 18px;
  line-height: 27px;
}
.home-text21 {
  font-size: 18px;
  line-height: 27px;
}
.home-text24 {
  font-size: 18px;
  line-height: 27px;
}
.home-text27 {
  font-size: 18px;
  line-height: 27px;
}
.home-text30 {
  font-size: 18px;
  line-height: 27px;
}
.home-container4 {
  display: contents;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-text32 {
  font-size: 3rem;
  text-align: center;
}
.home-text33 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .home-hero {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-right {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .home-icon1 {
    fill: white;
  }
  .home-main {
    flex-direction: column;
  }
  .home-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-header07 {
    max-width: 75%;
  }
  .home-caption6 {
    max-width: 75%;
  }
  .home-practices1 {
    flex-direction: column;
  }
  .home-why {
    gap: var(--dl-space-space-threeunits);
  }
  .home-features {
    gap: var(--dl-space-space-threeunits);
  }
  .home-section06 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image09 {
    width: 100%;
  }
  .home-section07 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image10 {
    width: 100%;
  }
  .home-section08 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image11 {
    width: 100%;
  }
  .home-section09 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image12 {
    width: 100%;
  }
  .home-section10 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image13 {
    width: 100%;
  }
  .home-image14 {
    width: 100%;
  }
  .home-section11 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-section12 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image15 {
    width: 100%;
  }
  .home-text33 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-header07 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .home-caption6 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .home-practices1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading08 {
    gap: var(--dl-space-space-unit);
  }
  .home-text11 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text12 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-content01 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
  }
  .home-grid1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-why {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header08 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-header09 {
    font-size: 14px;
    max-width: 60%;
    line-height: 21px;
  }
  .home-content02 {
    gap: var(--dl-space-space-twounits);
  }
  .home-header10 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-header11 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-features {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content03 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading10 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading11 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton1 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading12 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton2 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading13 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton3 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading14 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton4 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading15 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton5 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading16 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton6 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-book1 {
    width: 100%;
    display: flex;
  }
  .home-news {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading17 {
    gap: var(--dl-space-space-unit);
  }
  .home-text15 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text16 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text17 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text19 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text20 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text22 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text23 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text25 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text26 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text28 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text29 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text31 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text33 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-header07 {
    max-width: 80%;
  }
  .home-caption6 {
    max-width: 100%;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
